annotated-types==0.7.0
asgiref==3.8.1
bcrypt==4.2.1
certifi==2025.4.26
charset-normalizer==3.4.1
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
idna==3.10
lorem==0.1.1
mysqlclient==2.2.7
pydantic==2.10.6
pydantic_core==2.27.2
pytz==2025.1
requests==2.32.3
rstr==3.2.2
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.4.0
